.Track {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: var(--size-radius);
}

.Track:hover {
    background-color: lightgray;
}

.Info_Group {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 2.5%;
}

.Info_Group h1 {
    font-size: 1rem;
    color: black;
    overflow: hidden;
}

.Info_Group p {
    font-size: 1rem;
    color: black;
    overflow: hidden;
}

.Add_Remove {
    width: 10%;
    height: 80%;
    margin: 2.5%;
    align-items: center;
    justify-content: center;
}

.Add_Remove button {
    cursor: pointer;
}

.Preview {
    width: 5%;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin: 2%;
}

.Preview:hover {
    opacity: 1;
}

.Album_Image {
    width: 12.5%;
    aspect-ratio: 1/1;
    opacity: 1;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}