.Playlist {
    width: 40%;
    min-width: 450px;
    max-height: 1000px;
    margin: 2.5%;
    min-height: 150px;
}

.Save {
    padding-bottom: 1rem;
    border-bottom: solid 1px black;
}

.Save h2 {
    padding-top: 1rem;
    padding-bottom: 2rem;
}