.Playlist {
    width: 40%;
    min-width: 450px;
    max-height: 1000px;
    margin: 2.5%;
    min-height: 150px;
}

.Save {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px black;
}

.Save h2 {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.Save h3 {
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.Editing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Link {
    display: flex;
    justify-content: center;
    align-items: center;
}